<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="form">
  <app-contact (enviarForm)="mostratForm($event)"></app-contact>
  <br>
  <div class="container">
    <h1>Formulario Enviado: </h1>

    <div class="row">
      <p class="col-3">Nombre: </p>
      <p class="col-9">{{nombre}}</p>
    </div>

    <div class="row">
      <p class="col-3">E-mail: </p>
      <p class="col-9">{{mail}}</p>
    </div>

    <div class="row">
      <p class="col-3">Mensaje: </p>
      <p class="col-9">{{mensaje}}</p>
    </div>
  </div>

</div>
